@charset "UTF-8";
@font-face {
    font-family: "droid";
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}
.margem{
    margin: 0px;
    padding-top: 15px;
}
.menu{
    color: #ececec;
    padding: 20px;
    
}
.titulos{
    color: #040683;
    font-family: 'droid';
}
.paragrafos{
    text-align: left;
    text-indent: 20px;
}
.gradient{
    background-image: linear-gradient(to right,#90e1ef57, #ade8f41f, #caf0f800);
}
.central{
    text-align: center;
}
.destaque{
    color: #f8f8f8;
}
a{
    color: #0077b6;
    font-weight: bolder;
}
h4{
    background-color: #2105c2;
    margin: 0px;
    color: #f8f8f8;

}

body{
    margin: 0px;
    background-color: #00b4d8;
}
header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#023e8a,#0077b6);
    color: #ececec;

}

header > p{
    color: rgb(173, 198, 219);
}

main{
    padding: 0px 20px;
    background-color:#f8f8f8 ;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 7%;
}
article{
    background-color: #023e8a;
}
aside{
    padding: 10px 0px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    
    
}
section#box{
    padding: 10px 20px;
    background-color: #caf0f8;
    border-radius: 7%;
}
footer{
    text-align: center;
    background-color: #023e8a;
    color: #b5f3ff;
}
